<h1>Hello</h1>
<form name="editProfile" method="post" id="{{currentProfile.id}}">
  <input type="text" value={{currentProfile.wishes}}>
  </form>
{{!-- <ul>
  {{#if currentProfile}}
  <h2>Profile</h2>
    <input type="text" name="title" value={{currentProfile.title}}>
    <input type="text" value={{currentProfile.lastName}}>
    <input type="email" value={{currentProfile.email}}>
    <input type="date" value={{currentProfile.bDay}}>
    <input type="text" value={{currentProfile.addres}}>
    <input type="text" value={{currentProfile.age}}>
    <input type="text" value={{currentProfile.skills}}>
    <input type="text" value={{currentProfile.wishes}}>
    <input type="submit">
  {{else}}
  <input type="text" value={{currentProfile.wishes}}>


  {{/if}}
</ul> --}}

