
<h1>What's uuuuuuuuuup {{user.firstName}}</h1>



<div class="row">
  <div class="col-6">
    <form name="editUserForm" data-userid="{{user.id}}">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" placeholder="email" name="email" value="{{user.email}}">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="name" name="firstName" value="{{user.firstName}}">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">B-day</label>
        <input type="date" placeholder="birthday" name="bDay" class="form-control" value="{{user.bDay}}">
      </div>
      <button type="submit" class="btn btn-primary">Edit</button>
      <button id="deleteButton" type="delete" data-userid="{{user.id}}" data-action="delete" class="btn btn-primary">Delete</button>
    </form>
  </div>
</div>

<script src="/javascripts/client.js">

</script>


